@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Кнопка для перехода на страницу продуктов -->
    <a asp-action="Index" asp-controller="Product" class="btn btn-primary mb-3">Перейти на страницу продуктов</a>

</div>
